{% extends 'layout.html.twig' %}
{% block title %}Erreur
{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/edit.css">{% endblock %}
{% block content %}
<div class="container">
<img src="https://www.zupimages.net/up/20/48/znx0.png" width="100%" alt="" >
<div class="text-center">
    <a href="/" class="btn btn-pri btn-sm btn-404">Revenir à la boutique</a>
</div>
</div>


{% endblock %}