.container {
    max-width: 960px;
  }
  
  .lh-condensed { line-height: 1.25; }
  
  .btn-pri{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .175rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    background-color: var(--primaryblue);
    border-color:var(--primaryblue);
    color:white;
}

.btn-pri:hover{

    background-color: var(--secondaryblue);
    border-color:var(--secondaryblue);
}