<form method="post">
	<form method="post">
		<div class="form-group">
			<label for="name">ID Article:</label>
			<input type="number" name="article_id" class="form-control col-2" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ comment.article_id }}" required="require">
		</div>
		<div class="form-group">
			<label for="price">ID client:</label>
			<input type="number" name="user_id" class="form-control col-2" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ comment.user_id }}" required="require">
		</div>
		<div class="form-group">
			<label for="description">Commentaire:</label>
			<textarea type="text" name="review" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ comment.review }}" required="require"></textarea>
		</div>
		<a href="/comment/index" class="btn btn-primary">Retour aux commentaires</a>
		<button type="submit" class="btn btn-success">Valider</button>
	</form>

</form>

